<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark "  style="height: 50px;">
      <a class="navbar-brand">LMS</a>
      <div class="auth-buttons">
        <a><button class="btn btn-success mr-2" style="height: 30px;" routerLink="login">Login</button></a>
         <a><button class="btn btn-success mr-2" style="height: 30px;" routerLink="register">Register</button></a>
        <a *ngIf="getUser()"><button class="btn btn-success mr-3 " style="height: 30px;" (click)="logout()" >Logout</button></a>
      </div>
    </nav>
</div>
