<!-- <div class="container-fluid main-header">
  <div class="col-md-12">
    <header>
      <nav>
        <div class="nav-header">
          <div class="nav-logo">
            <a href="">LMS</a>
          </div>
          <div class="nav-content">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="" >Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</div> -->
 
 <div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark "  style="height: 50px;">
    <a class="navbar-brand">LMS</a>
    <div class="auth-buttons">
      <a><button class="btn btn-success mr-2" style="height: 30px;" routerLink="login">Login</button></a>
      <a><button class="btn btn-success mr-5" style="height: 30px;" routerLink="register">Register</button></a>
    </div>
  </nav>
 </div>
<router-outlet></router-outlet>
 

