<div class="container">
        <div class="form-container">
            <div class="card w-50">
                <div class="card-header text-center">
                    <h3>Login</h3>

                </div>
                <div class="card-body">
                    <form #f="ngForm" class="form" (ngSubmit)="submitLogin(f)">
                        <div class="form-group">
                            <label>UserId</label>
                            <input type="text" 
                                    name="userId"
                                    placeholder="enter userId" 
                                    class="form-control"
                                    [(ngModel)]="loginData.userId"
                                    #userName=ngModel>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"
                                   name="password" 
                                   placeholder="enter Password" 
                                   class="form-control"
                                   [(ngModel)]="loginData.password"
                                   ngModel>
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="f.valid">Submit</button>
                    </form>

                </div>
            </div>

        </div>
</div>

